.group-functions {
  background-color: var(--backgroundColor3);
  min-height: 3rem;
  margin: 1rem 0;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group-functions__buttons,
.confirm-choice__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4rem;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.confirm-choice__buttons {
  justify-content: space-around;
}
.confirm-choice__question {
  text-align: center;
}

.group-functions__button,
.confirm-choice__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  min-width: 8rem;
  padding: 0 0.75rem;
  background-color: var(--backgroundColor4);
  border-radius: 0.5rem;
  cursor: pointer;
}
@media (max-width: 450px) {
  .group-functions__button {
    width: 100%;
  }
}

.group-functions__button:hover,
.confirm-choice__button:hover {
  filter: brightness(0.9);
}
.group-functions__button:active,
.confirm-choice__button:active {
  filter: brightness(0.75);
}

/**/
