.confirm-remove-container {
  width: 100%;
  float: left;
}

.confirm-remove-container h2 {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.confirm-remove-container [role="button"] {
  line-height: 2.5rem;
  height: 2.5rem;
  width: 10rem;
  background-color: #3d3d3d;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 1rem;
  text-indent: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  float: left;
}

.confirm-remove-container [role="button"]:nth-of-type(2) {
  float: right;
}

@media (max-width: 450px) {
  .confirm-remove-container [role="button"] {
    width: 100%;
    box-sizing: border-box;
    float: left !important;
    text-align: center;
  }
}
