.settings__data-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

@media (max-width: 600px) {
  .settings__data-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

.settings-container {
  background-color: var(--backgroundColor3);
  padding: 1rem 1rem;
}

.settings__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.settings__button {
  background-color: var(--backgroundColor4);
  border: none;
  color: var(--color);
  padding: 0;
  height: 2.6rem;
  line-height: 2.6rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  text-align: center;
}

.settings__button:hover {
  filter: brightness(0.9);
}
.settings__button:active {
  filter: brightness(0.75);
}

hr {
  margin: 0;
}

h1 {
  text-align: center;
}
