.navbar-component {
  background-color: var(--backgroundColor2);
  color: var(--color);
  overflow: auto;
  border-radius: 10px;
  margin: 15px;
  display: grid;
  grid-template-rows: 2.5rem 1fr 2.5rem 2.5rem;
  gap: 10px;
}

.nav-button__container {
  height: 100%;
  overflow-y: auto;
}

.nav-button {
  all: unset;
  display: block;
  line-height: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}
.nav-button:focus {
  background-color: var(--backgroundColor3);
}

.nav-button:hover {
  background-color: var(--backgroundColor3);
}

.active {
  font-weight: bold;
  background-color: var(--backgroundColor3);
}

.create-form {
  line-height: 2.5rem;
  height: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.create-input {
  background-color: transparent;
  padding: 0;
  border: none;
  border-bottom: solid var(--color) 1px;
  color: var(--color);
  width: 80%;
  height: calc(2.5rem - 1px);
  line-height: 2.5rem;
  font-size: 1.25rem;
  text-indent: 10px;
}

.create-button {
  background-color: var(--backgroundColor3);
  border: none;
  color: var(--color);
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.create-button:hover {
  background-color: var(--backgroundColor1);
}
.create-button:active {
  background-color: var(--backgroundColor1);
  filter: brightness(0.8);
}

@media (width < 992px) {
  .navbar-component:active {
    background-color: var(--backgroundColor2);
  }
  .navbar-component {
    cursor: pointer;
    overflow: auto;
  }
  .navbar-bottom {
    margin-bottom: 0;
    overflow: hidden;
  }
}

@media (width >= 992px) {
  .navbar-right {
    margin-right: 0;
  }
}
