/* TODO COMPONENT */

.todo-item {
  line-height: 1.5rem;
  background-color: var(--backgroundColor3);
  margin-top: 10px;
  border-radius: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  z-index: 2;
  cursor: pointer;

  display: grid;
  grid-template-columns: 2.5rem 1fr 2.5rem;
  align-items: center;
}

.todo-name {
  padding: 0.5rem 1rem;
  white-space: pre-line;
  overflow-x: auto;
}

.todo-item:focus {
  background-color: #505050;
  outline: none;
}

.todo-status {
  width: 1.5rem;
  height: 60%;
  border: solid black 1px;
  border-radius: 0.5rem;
  justify-self: center;
}

.todo-description {
  height: 0px;
  overflow: hidden;
  position: relative;
  top: -1.25rem;
  line-height: 1.5rem;
  z-index: 1;
  background-color: var(--backgroundColor3);
  color: var(--color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  white-space: pre-line;
}

.todo-description-open {
  height: auto;
  padding-top: 1.75rem;
  overflow: visible;
  margin-bottom: -1.25rem;
}

.todo-description-text {
  height: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
}

.todo-interface-bar {
  height: 2rem;
  background-color: var(--backgroundColor3);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: 0.5rem;
  border-top: solid var(--color) 1px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.todo-button {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
}
.todo-button:hover {
  background-color: var(--backgroundColor1);
}

.todo-remove-button {
  border-bottom-left-radius: 1rem;
}
.todo-movedown-button {
  border-bottom-right-radius: 1rem;
}

.todo-save-button {
  grid-column: 3 / 4;
}

.todo-cancel-button {
  grid-column: 4 / 5;
}

.new-name-input,
.new-description-input {
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  border-bottom: solid var(--color) 1px;
  color: var(--color);
  line-height: 1.5rem;
  font-size: 1rem;
  resize: none;
  overflow-wrap: normal;
  overflow-x: auto;
}

.new-name-input {
  width: 95%;
}

.new-description-input {
  width: calc(100% - 2rem);
  margin: 0.5rem;
}
