:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --font: Inter, Avenir, Helvetica, Arial, sans-serif;
}

* {
  transition: color 0.2s, background-color 0.2s linear;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.center-text {
  text-align: center;
}

.disable-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3d3d3d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #787878;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #686868;
}
